include cext.h
recursive-include cdbx *.c *.h

include README.md LICENSE

recursive-include docs *
prune docs/_userdoc
prune docs/coverage
prune docs/gcov
exclude docs/DEVELOPMENT.md docs/userdoc/.buildinfo
